$light-grey-color : #F1F3F4;
// $grey-color : 'Noto Sans', 'Open Sans', sans-serif;
$default-text-color : #202124;
$light-text-color : #BCBCBC;
$light-blue-color : #5394e9;
$dark-blue-color : #1A73E8;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px;
}